<div class="header-photo">
  <img [src]="header.photoUrl" alt="Profile Photo">
</div>
<div class="header-info">
  <h1>{{ header.name }}</h1>
  <p class="role">{{ header.goalLife }}</p>
  <div class="contact-info">
    <p><strong>Email:</strong> {{ header.email }}</p>
    <p><strong>Teléfono:</strong> {{ header.phoneNumber }}</p>
    <p><strong>Ubicación:</strong> {{ header.location }}</p>
    <p><strong>Red Social:</strong>
       <a [href]="header.socialNetwork" target="_blank">{{ header.socialNetwork }}</a>
    </p>
  </div>
</div>
