<div class="cv-container">
        <header class="cv-header">
          <app-header></app-header>
        </header>
      
        <main class="cv-grid">
          <div class="left-column">
            
              <app-work-experience></app-work-experience>
           
              <app-education></app-education>
           
              <app-languages></app-languages>
            
          </div>
      
          <div class="right-column">
            
              <app-skills></app-skills>
           
              <app-certificates></app-certificates>
           
              <app-interests></app-interests>
            
          </div>
        </main>
      </div>