/* You can add global styles to this file, and also import other style files */


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5; /* Fondo gris claro */
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #DDD;
}

td:first-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #292929; /* Burgundy */
}

td:nth-child(2) img {
    border-radius: 50%;
    border: 5px solid #800020; /* Burgundy */
}

td:last-child {
    font-size: 0.9em;
    color: #292929;
}

td:last-child strong {
    font-weight: bold;
    color: #800020; /* Burgundy */
}

td:last-child a {
    color: #292929; /* Burgundy */
    text-decoration: none;
}

td:last-child a:hover {
    text-decoration: underline;
}

section {
  margin: 20px 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #800020; /* rojo burdeos para el título */
  border-bottom: 4px solid #800020; /* línea debajo del título */
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

/* Modificaciones para alinear las barras de habilidades */
.skill-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  min-width: 120px;
  width: 25%;
  font-weight: 600;
  color: #333;
  padding-right: 15px;
}

.skill-bar {
  flex-grow: 1;
  max-width: 75%;
}

.bar-container {
  width: 100%;
  height: 12px;
  background-color: #f4e1d2;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #d0a1c0;
}

.bar-fill {
  height: 100%;
  background-color: #800020;
  transition: width 0.4s ease-out;
  border-radius: 4px;
}

.bar-container:hover .bar-fill {
  background-color: #7a0c2f;
}

/* Asegura que las secciones de habilidades se alineen con el contenido */
.skills-section {
  padding: 0 20px;
}

/* Para mejorar la alineación en diferentes dispositivos */
@media (max-width: 768px) {
  .skill-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .skill-name {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .skill-bar {
    width: 100%;
    max-width: 0%;
  }
}

